body {
	font-family: 'cwTeXFangSong', serif;
}
#heading{
	top:0px;
	left: 0px;
	/*position: absolute;*/
	margin-top: 0px;
	padding:20px;
	background: #e74c3c;
	height: 200px;
	width: 100%;
	padding-top: 30px;
	text-align: center;
	background-attachment: float;
}
#body{
	/*padding:70px;*/
	/*position: absolute;*/
	color:white;
	top:200px;
	left: 0px;
	width:100%;
	/*margin-top: 50px;*/
	background: #8e44ad;
}
.img{
	display: none;
}
.content{
	padding: 100px;
	display: none;
}
h1{
	font-size: 80px;
}
ul{
	font-size: 40px;
}
li{
	padding: 10px;
}
h3 {
	word-spacing: 20px;
	font-size: 30px;
}
#body2{
	position: relative;
	width:100%;
	background: #ecf0f1;
	padding:20px;
}
.center{
	text-align: center;
}
#reading,#go,#dream{
	display: none;
	padding:50px;
}
#body3{
	background:#bdc3c7;
	position: relative;
	width: 100%;
	padding: 50px;
}
#row1{
	height:32px;
	width:60%;
	background-color: #e74c3c;
	border-radius: 5px;
}
#row2{
	height:32px;
	width:80%;
	background-color: #3498db;
	border-radius: 5px;
}
#row3{
	height:32px;
	width:70%;
	background-color: #f1c40f;
	border-radius: 5px;
}
#row4{
	height:32px;
	width:60%;
	background-color: #2ecc71;
	border-radius: 5px;
}
#row5{
	height:32px;
	width:40%;
	background-color: #7f8c8d;
	border-radius: 5px;
}
.padding{
	margin-top: 20px;
}

